@{
    ViewBag.Title = "My Error Page";
}
<div style=" padding:20px; color:red">
    <h3>
        Fully booked for the day:
    </h3>
    <h4>
        @ViewBag.errorMsg
    </h4>
    <h6>@Html.ActionLink("Choose another one", "TicketDate", "Booking")</h6>
    <br />
    <br />
</div>

