@model TheatreTicketBookingSystem.Models.Person

@{
    ViewBag.Title = "Successfull";
}

<h2>Your Booking was successfull</h2>

<div class="">
    <div class="alert alert-success" role="alert">
        <h4>Thank you</h4>
        <p>The following are your booking details</p>
        <br />
        <p>Name: @Model.Name</p>
        <p>Number Tickets: @Model.Quantity</p>
        <p>Email: @Model.Email</p>
        <p>Ticket Date: @Model.Date</p>
    </div>
</div>